body{
	width: 100%;
	margin: 5px;
	text-align: center;
}

.plateau{
	width: 100%;
	border: 2px solid black;
}

table{
	margin-left: 33%;
	width: 33%;
}

.bille{
	background-color: white;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	width: 50px;
	height: 50px;
}

.indic{
	background-color: white;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	width: 20px;
	height: 20px;
}